<!-- start of about div -->
<div class="container text-left">
<h1>About Your Score</h1>
<br>
<h4>Your score is based on your voting record data.</h4> <br>
</div>
<!-- start div with 3 columns-->
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-2 text-center">
    <img src="/img/Voting.png" class="img-responsive" alt="voting">
    <h4>Your voter history is compiled</h4>
  </div>
  <div class="col-sm-2">
  </div>
  <div class="col-sm-2 text-center">
    <img src="/img/Scores.png" class="img-responsive" alt="scores">
    <h4>We analyze your election voting history</h4>
  </div>
  <div class="col-sm-2">
  </div>
  <div class="col-sm-2 text-center">
    <img src="/img/Score.png" class="img-responsive" alt="score">
    <h4>Your overall VoterKarma score is created</h4>
  </div>
  <div class="col-sm-1">
  </div>
</div>
<!-- end of about div -->

<hr>
